flows (1).json
[{"id":"c3bbe853.64fe98","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f3e39259.a62f2","type":"tab","label":"twitter_project","disabled":false,"info":""},{"id":"edff0e3f.a5972","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"6ef7e0a0.e2be5","type":"tab","label":"Tweet Dashboard","disabled":true,"info":""},{"id":"9344c92e.5878f8","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-04.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"b151d6d9.91cc78","type":"websocket-listener","z":"edff0e3f.a5972","path":"/ws/counter","wholemsg":"false"},{"id":"ead1c9bd.1a4508","type":"websocket-listener","z":"f3e39259.a62f2","path":"/ws/counter","wholemsg":"false"},{"id":"5ef73274.42f5ec","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"52ff24d1.664c3c","type":"twitter-credentials","z":0,"screen_name":""},{"id":"ecb6bfb8.46eca","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"ade7a857.8c6d68","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"8c215a63.220168","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"f9db1da7.ac2fb","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"17bda71.fb61e59","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"70b0cd0c.3f8b64","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"5ad89ffb.d197f","type":"twitter-credentials","z":"","screen_name":""},{"id":"b7fbb8b3.0bd3e8","type":"twitter-credentials","z":0,"screen_name":"mystiqu60794445"},{"id":"a3612e0f.b861","type":"ibmiot","z":0,"name":"dev1","keepalive":"60","serverName":"rjy2zr.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7a57a715.243208","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#386d70","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#386d70","edited":true},"page-titlebar-backgroundColor":{"value":"#386d70","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#529fa3","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#386d70","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"COVID19 Tweet Analysis Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb5b6c1e.2c335","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":true,"hidden":false},{"id":"7bba7772.f1b9c8","type":"ui_tab","z":"","name":"Iot","icon":"dashboard","disabled":true,"hidden":false},{"id":"ceec8d44.c7ac5","type":"ui_tab","z":"","name":"Restro bot","icon":"dashboard","disabled":true,"hidden":false},{"id":"120421fb.46c73e","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":true,"hidden":false},{"id":"e0201d9e.7b6e2","type":"ui_tab","z":"","name":"Covid-19 Sentiment","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"e067ac61.6046c","type":"ui_tab","z":"","name":"Covid-19 Sentiment","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"aeabec9b.cf89a","type":"ui_tab","z":0,"name":"Twitter Sentiment Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9c119559.6be398","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"76c17e87.0790d","type":"ui_tab","z":"","name":"COVID NJ County Reports","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"251e7fa0.d4874","type":"ui_tab","z":"","name":"COVID Tracker","icon":"dashboard","order":9,"disabled":true,"hidden":false},{"id":"e8f15df1.227c3","type":"ui_tab","z":"","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"fcff3e2.59ea0c","type":"ui_tab","z":"","name":"Tweet Scoreboard","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"dd793ac.3b2a3c8","type":"ui_tab","z":"","name":"Tweet Scoreboard","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"e3130c5e.4cafd","type":"ui_tab","z":"","name":"Covid-19 Sentiment","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"e1fc3628.98cb78","type":"ui_group","z":0,"name":"Chat bot","tab":"ceec8d44.c7ac5","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ec3e974.316c56","type":"ui_group","z":0,"name":"prediction","tab":"120421fb.46c73e","order":1,"disp":true,"width":"6","collapse":false},{"id":"98310bfe.ef2148","type":"ui_group","z":0,"name":"Covid-19","tab":"e0201d9e.7b6e2","order":1,"disp":false,"width":"30","collapse":false},{"id":"eae285a6.331c48","type":"ui_group","z":0,"name":"Covid-19","tab":"e067ac61.6046c","order":1,"disp":false,"width":"30","collapse":false},{"id":"dff3ee06.c873","type":"ui_group","z":0,"name":"Results","tab":"262cc18f.00e93e","order":2,"disp":true,"width":"9"},{"id":"3eccd41f.1534ac","type":"ui_group","z":0,"name":"Sentiment","tab":"262cc18f.00e93e","order":3,"disp":false,"width":"8"},{"id":"c4bd8e6e.eee7","type":"ui_group","z":0,"name":"img","tab":"76c17e87.0790d","order":1,"disp":false,"width":"10","collapse":false},{"id":"ddcee221.7659a","type":"ui_group","z":0,"name":"Lockdown Sentiment","tab":"251e7fa0.d4874","order":3,"disp":true,"width":"6","collapse":false},{"id":"6b03581b.26d0a8","type":"ui_group","z":0,"name":"New Jersey County Stats","tab":"76c17e87.0790d","order":2,"disp":true,"width":"8","collapse":false},{"id":"5efd155b.5e9a3c","type":"ui_group","z":0,"name":"COVID NJ County Charts","tab":"76c17e87.0790d","order":3,"disp":true,"width":"12","collapse":false},{"id":"500985cf.91a0bc","type":"ui_group","z":0,"name":"COVID Stats","tab":"251e7fa0.d4874","order":2,"disp":true,"width":"12","collapse":false},{"id":"db0e7374.79f34","type":"ui_group","z":0,"name":"Search","tab":"251e7fa0.d4874","order":1,"disp":true,"width":"8","collapse":false},{"id":"31ecab76.a44444","type":"ui_group","z":0,"name":"Country Reports","tab":"251e7fa0.d4874","order":4,"disp":true,"width":"8","collapse":false},{"id":"c02c8bb4.4ccaa8","type":"ui_group","z":0,"name":"Chat","tab":"e8f15df1.227c3","order":2,"disp":true,"width":"10","collapse":false},{"id":"d0586881.5a44b8","type":"ui_group","z":0,"name":"Record","tab":"e8f15df1.227c3","order":1,"disp":true,"width":"6","collapse":false},{"id":"bf942a68.7d1138","type":"ui_group","z":"","name":"Tweet Sentiment - COVID19","tab":"aeabec9b.cf89a","order":1,"disp":true,"width":"10","collapse":false},{"id":"40ef7b23.d8c364","type":"ui_group","z":"","name":"Tweet Scoreboard - COVID19","tab":"aeabec9b.cf89a","order":2,"disp":true,"width":"6","collapse":false},{"id":"a2155d4b.05b0c","type":"ui_group","z":"","name":"Tweet Sentiment - Lockdown extension, Government orders","tab":"aeabec9b.cf89a","order":3,"disp":true,"width":"10","collapse":false},{"id":"1d165bbb.0f7a94","type":"ui_group","z":"","name":"Tweet Scoreboard - Lockdown extension, Government orders","tab":"aeabec9b.cf89a","order":4,"disp":true,"width":"6","collapse":false},{"id":"3a81fec8.3e4962","type":"ui_group","z":0,"name":"Covid-19","tab":"e3130c5e.4cafd","order":1,"disp":false,"width":"30","collapse":false},{"id":"bdded142.78c92","type":"ui_spacer","z":0,"name":"spacer","group":"c4bd8e6e.eee7","order":1,"width":30,"height":1},{"id":"9836e733.c95968","type":"ui_spacer","z":0,"name":"spacer","group":"ddcee221.7659a","order":1,"width":1,"height":1},{"id":"71f2206e.72535","type":"ui_spacer","z":0,"name":"spacer","group":"eae285a6.331c48","order":1,"width":1,"height":1},{"id":"9ebe9166.d4da9","type":"ui_spacer","z":0,"name":"spacer","group":"c4bd8e6e.eee7","order":4,"width":1,"height":1},{"id":"b8c52aa.90e21d8","type":"twitter-api-connection","z":0,"consumerKey":" 9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-aL7iaCHCcpNZGiELnjBpFurH6Q4xe7","accessSecret":"wishfUozqVONSuMqyyPGs9FKKttlQyC1hFrawMMGYJODU"},{"id":"3ff9987a.bca988","type":"twitter-api-connection","z":0,"consumerKey":"9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-hnsnc3Kyer7db6EG8nQLeSIw0QyLoE","accessSecret":"qoFxsNDzMMRexumJpq2oBvaGnTImCjEaDtZiZt3r2IbN7"},{"id":"aed0826e.96be3","type":"twitter-api-connection","z":0,"consumerKey":"9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-hnsnc3Kyer7db6EG8nQLeSIw0QyLoE","accessSecret":"qoFxsNDzMMRexumJpq2oBvaGnTImCjEaDtZiZt3r2IbN7"},{"id":"ed5c9597.103d98","type":"twitter-api-connection","z":0,"consumerKey":"","consumerSecret":"","accessToken":"","accessSecret":""},{"id":"458b80e0.3874f","type":"twitter-api-connection","z":0,"consumerKey":"9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-hnsnc3Kyer7db6EG8nQLeSIw0QyLoE","accessSecret":"qoFxsNDzMMRexumJpq2oBvaGnTImCjEaDtZiZt3r2IbN7"},{"id":"b0d316b3.701908","type":"covapikey","z":0,"name":""},{"id":"ff1ad278.c6da3","type":"covapikey","z":0,"name":""},{"id":"fe2ee021.afa3d","type":"covapikey","z":0,"name":""},{"id":"1acf9c5f.720cb4","type":"twilio-api","z":"6ef7e0a0.e2be5","name":"My Twilio","sid":"","from":""},{"id":"c56524f5.0795d8","type":"twilio-api","z":"6ef7e0a0.e2be5","name":"My Twilio","sid":"","from":""},{"id":"edc8880f.55f728","type":"ui_spacer","name":"spacer","group":"c4bd8e6e.eee7","order":3,"width":"0","height":"0"},{"id":"172b98ac.150937","type":"ui_spacer","name":"spacer","group":"40ef7b23.d8c364","order":1,"width":10,"height":1},{"id":"4261af71.c3239","type":"ui_spacer","name":"spacer","group":"c4bd8e6e.eee7","order":2,"width":"0","height":"0"},{"id":"87c7aba5.93a5e8","type":"ui_spacer","name":"spacer","group":"1d165bbb.0f7a94","order":1,"width":6,"height":1},{"id":"46cc349c.90907c","type":"twitter-api-connection","z":"","consumerKey":"9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-0Qq2fLnM4YrxupGLQjosjcEFwmmxI1","accessSecret":"D1jt8uzY7oe2xXgXM8ZFadRhACvci28aL0q4qO5la8dAp"},{"id":"908fbbbd.0559c8","type":"ui_group","z":"","name":"Covid-19 ","tab":"82e9ce74.8ebb6","order":1,"disp":false,"width":"30","collapse":false},{"id":"82e9ce74.8ebb6","type":"ui_tab","z":"","name":"Covid-19 Sentiment Average","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"35a86f09.9a198","type":"twitter-api-connection","z":"","consumerKey":"9IBvpgrkR9pP5mCdH8dWyxXYJ","consumerSecret":"1XyHDBzmuxrn3plstwGhcJOgj0epwnVGnqIalwvEaQduQ6xZKV","accessToken":"1267491647761166337-0Qq2fLnM4YrxupGLQjosjcEFwmmxI1","accessSecret":"D1jt8uzY7oe2xXgXM8ZFadRhACvci28aL0q4qO5la8dAp"},{"id":"b29a9897.a6b898","type":"function","z":"c3bbe853.64fe98","name":"","func":"msg.payload=\"This is \"+ msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["a41da9a3.484c48"]]},{"id":"5ab64e6b.f9f1e","type":"inject","z":"c3bbe853.64fe98","name":"","topic":"","payload":"veni","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["b29a9897.a6b898"]]},{"id":"a41da9a3.484c48","type":"debug","z":"c3bbe853.64fe98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":120,"wires":[]},{"id":"e1cfa86a.58f8e8","type":"debug","z":"c3bbe853.64fe98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":300,"wires":[]},{"id":"b7c9ba76.ada438","type":"function","z":"c3bbe853.64fe98","name":"","func":"msg.payload=\"Thankyou! \" +msg.payload.name+\".Form is submitted.\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["6e11796f.171ea8"]]},{"id":"bb7608cf.581f28","type":"dashDB out","z":"c3bbe853.64fe98","dashDB":"9344c92e.5878f8","service":"_ext_","table":"STUDENT2","name":"","x":530,"y":220,"wires":[]},{"id":"936a9d64.478cf","type":"function","z":"c3bbe853.64fe98","name":"","func":"msg.payload=\n{\n    NAME :msg.payload.name,\n    EMAIL:msg.payload.email,\n    YEAR:msg.payload.year,\n    UNIV:msg.payload.univ,\n    MOBILE:msg.payload.number\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["bb7608cf.581f28","e1cfa86a.58f8e8"]]},{"id":"3984ffae.614e1","type":"debug","z":"edff0e3f.a5972","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1080,"wires":[]},{"id":"9685019d.2b446","type":"switch","z":"edff0e3f.a5972","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1140,"wires":[["3984ffae.614e1"],["b9d50c3b.8672d"]]},{"id":"41a77265.80fa2c","type":"debug","z":"edff0e3f.a5972","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":860,"y":1100,"wires":[]},{"id":"8b5bcaa3.d77e08","type":"debug","z":"edff0e3f.a5972","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":750,"y":860,"wires":[]},{"id":"b9d50c3b.8672d","type":"debug","z":"edff0e3f.a5972","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":1160,"y":1200,"wires":[]},{"id":"123e950a.788bdb","type":"function","z":"edff0e3f.a5972","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":940,"wires":[["8ad76842.ee7198","2f2eb75d.33a608"]]},{"id":"8ad76842.ee7198","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":940,"wires":[]},{"id":"ffa41ace.9bb388","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"console":"false","complete":"tweet.text","x":740,"y":900,"wires":[]},{"id":"204106ab.445c3a","type":"function","z":"edff0e3f.a5972","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1320,"wires":[["7f09bcac.9f7494"]]},{"id":"94791ae.3c7cce8","type":"delay","z":"edff0e3f.a5972","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1320,"wires":[["cae53cd4.32f4","248838f9.333228","204106ab.445c3a"]]},{"id":"7f09bcac.9f7494","type":"cloudant out","z":"edff0e3f.a5972","name":"","cloudant":"","database":"tweetdata","service":"IoT-feed-gauge-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1020,"y":1320,"wires":[]},{"id":"cae53cd4.32f4","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1360,"wires":[["1e81f2d2.8147dd"]]},{"id":"248838f9.333228","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1400,"wires":[["315d74a2.78b6bc","9246f57b.a282d8"]]},{"id":"a42bc094.e93b4","type":"inject","z":"edff0e3f.a5972","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":360,"y":1000,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"5bdd6bb7.a1c9d4","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1040,"wires":[["123e950a.788bdb"]]},{"id":"cff6ea60.308668","type":"inject","z":"edff0e3f.a5972","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":370,"y":1040,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"50640789.4f34e8","type":"inject","z":"edff0e3f.a5972","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":360,"y":1080,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"2cc49d67.7fba02","type":"comment","z":"edff0e3f.a5972","name":"Pick a #hashtag to follow","info":"","x":380,"y":860,"wires":[]},{"id":"f07dd163.7c1c9","type":"debug","z":"edff0e3f.a5972","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":1740,"wires":[]},{"id":"9859dd69.d6652","type":"switch","z":"edff0e3f.a5972","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":910,"y":1800,"wires":[["f07dd163.7c1c9"],["ab9c32f.caa8ad"]]},{"id":"39765ea3.6b56d2","type":"debug","z":"edff0e3f.a5972","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":900,"y":1760,"wires":[]},{"id":"ca1f0f78.9428c","type":"debug","z":"edff0e3f.a5972","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":790,"y":1520,"wires":[]},{"id":"ab9c32f.caa8ad","type":"debug","z":"edff0e3f.a5972","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":1200,"y":1860,"wires":[]},{"id":"f2cc075f.80e6a8","type":"function","z":"edff0e3f.a5972","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1600,"wires":[["7ec84d0d.fd22a4","57cc3392.5cd75c"]]},{"id":"7ec84d0d.fd22a4","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":1600,"wires":[]},{"id":"9df0ba24.4b7c18","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"console":"false","complete":"tweet.text","x":780,"y":1560,"wires":[]},{"id":"351f37ad.1a4338","type":"function","z":"edff0e3f.a5972","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1980,"wires":[["ff4189d3.209e78"]]},{"id":"23d14517.59687a","type":"delay","z":"edff0e3f.a5972","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1980,"wires":[["a6495535.ee9828","693acbdc.112e54","351f37ad.1a4338"]]},{"id":"ff4189d3.209e78","type":"cloudant out","z":"edff0e3f.a5972","name":"","cloudant":"","database":"tweetdata","service":"node-red-ozbbt-cloudant-1590470631830-11716","payonly":true,"operation":"insert","x":1060,"y":1980,"wires":[]},{"id":"a6495535.ee9828","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2020,"wires":[["366653d6.b77c6c"]]},{"id":"693acbdc.112e54","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2060,"wires":[["1e4dd3af.b68c8c","22cee816.a82a08"]]},{"id":"5488b738.a21438","type":"inject","z":"edff0e3f.a5972","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":400,"y":1660,"wires":[["388a060b.383e4a"]]},{"id":"388a060b.383e4a","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1700,"wires":[["f2cc075f.80e6a8"]]},{"id":"e11d211a.5e2f3","type":"inject","z":"edff0e3f.a5972","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":410,"y":1700,"wires":[["388a060b.383e4a"]]},{"id":"4d5e152a.455f7c","type":"inject","z":"edff0e3f.a5972","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":400,"y":1740,"wires":[["388a060b.383e4a"]]},{"id":"64ceddb.d9ddb24","type":"comment","z":"edff0e3f.a5972","name":"Pick a #hashtag to follow","info":"","x":420,"y":1520,"wires":[]},{"id":"2f2eb75d.33a608","type":"sentiment","z":"edff0e3f.a5972","name":"Sentiment of Tweets","property":"payload","x":610,"y":1140,"wires":[["41a77265.80fa2c","9685019d.2b446","94791ae.3c7cce8"]]},{"id":"57cc3392.5cd75c","type":"sentiment","z":"edff0e3f.a5972","name":"Sentiment of Tweets","property":"payload","x":650,"y":1800,"wires":[["39765ea3.6b56d2","9859dd69.d6652","23d14517.59687a"]]},{"id":"5dba4f3f.1390a","type":"ui_dropdown","z":"c3bbe853.64fe98","name":"","label":"","tooltip":"","place":"Select option","group":"e1fc3628.98cb78","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"cse","value":"computer science & engineering","type":"str"},{"label":"ece","value":"ECE","type":"str"},{"label":"me","value":"ME","type":"str"},{"label":"ce","value":"CE","type":"str"}],"payload":"","topic":"","x":280,"y":380,"wires":[[]]},{"id":"9c35cc78.8e408","type":"ui_form","z":"c3bbe853.64fe98","name":"","label":"","group":"e1fc3628.98cb78","order":2,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your year","value":"year","type":"text","required":true,"rows":null},{"label":"Enter your university","value":"univ","type":"text","required":true,"rows":null},{"label":"Enter your mobile number","value":"number","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","year":"","univ":"","number":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":300,"wires":[["b7c9ba76.ada438","936a9d64.478cf"]]},{"id":"6e11796f.171ea8","type":"ui_text","z":"c3bbe853.64fe98","group":"e1fc3628.98cb78","order":4,"width":0,"height":0,"name":"","label":"Response","format":"{{msg.payload}}","layout":"col-center","x":780,"y":420,"wires":[]},{"id":"1e81f2d2.8147dd","type":"ui_text","z":"edff0e3f.a5972","group":"bf942a68.7d1138","order":1,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":1360,"wires":[]},{"id":"366653d6.b77c6c","type":"ui_text","z":"edff0e3f.a5972","group":"a2155d4b.05b0c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":2020,"wires":[]},{"id":"315d74a2.78b6bc","type":"ui_gauge","z":"edff0e3f.a5972","name":"","group":"40ef7b23.d8c364","order":2,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f7d21d","#00e626","#ca3838"],"seg1":"","seg2":"","x":1020,"y":1400,"wires":[]},{"id":"1e4dd3af.b68c8c","type":"ui_gauge","z":"edff0e3f.a5972","name":"","group":"1d165bbb.0f7a94","order":2,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":2060,"wires":[]},{"id":"9246f57b.a282d8","type":"ui_chart","z":"edff0e3f.a5972","name":"","group":"bf942a68.7d1138","order":3,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1010,"y":1440,"wires":[[]]},{"id":"22cee816.a82a08","type":"ui_chart","z":"edff0e3f.a5972","name":"","group":"a2155d4b.05b0c","order":3,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1050,"y":2100,"wires":[[]]},{"id":"4e1f8c02.39abb4","type":"twitter in","z":"edff0e3f.a5972","twitter":"5ad89ffb.d197f","tags":"#covid19,#covid_19,#covid-19,#corona,corona,covid19,covid-19","user":"false","name":"Listen to twitter feed","inputs":1,"x":390,"y":900,"wires":[["8b5bcaa3.d77e08","ffa41ace.9bb388","123e950a.788bdb"]]},{"id":"a9ce3154.ecf81","type":"twitter in","z":"edff0e3f.a5972","twitter":"5ad89ffb.d197f","tags":"lockdown,lockdown extension,government lockdown extension orders,govt orders,lockdown extended","user":"false","name":"Listen to twitter feed","inputs":1,"x":430,"y":1560,"wires":[["ca1f0f78.9428c","9df0ba24.4b7c18","f2cc075f.80e6a8"]]},{"id":"d5f9ad44.0ae0f","type":"switch","z":"f3e39259.a62f2","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":340,"wires":[["d7f3b1f4.6976f"],["b8654e8.34ca1b"]]},{"id":"2d85da89.b48eb6","type":"debug","z":"f3e39259.a62f2","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":610,"y":300,"wires":[]},{"id":"eeb7682d.a81038","type":"debug","z":"f3e39259.a62f2","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":500,"y":60,"wires":[]},{"id":"f8c5d677.f54508","type":"function","z":"f3e39259.a62f2","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["2c303e75.58e612","8206e36a.3376"]]},{"id":"2c303e75.58e612","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":140,"wires":[]},{"id":"72cfd74d.01da98","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":490,"y":100,"wires":[]},{"id":"abb11a5b.8ee828","type":"comment","z":"f3e39259.a62f2","name":"#COVID19 Tweet sentiment analysis","info":"","x":180,"y":40,"wires":[]},{"id":"8206e36a.3376","type":"sentiment","z":"f3e39259.a62f2","name":"Sentiment of Tweets","property":"payload","x":360,"y":340,"wires":[["2d85da89.b48eb6","d5f9ad44.0ae0f","da2bd80f.99bc28"]]},{"id":"d7f3b1f4.6976f","type":"debug","z":"f3e39259.a62f2","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"b8654e8.34ca1b","type":"debug","z":"f3e39259.a62f2","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":910,"y":400,"wires":[]},{"id":"d6141614.ed2658","type":"function","z":"f3e39259.a62f2","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["51a296bb.e91a78"]]},{"id":"da2bd80f.99bc28","type":"delay","z":"f3e39259.a62f2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":520,"wires":[["82236a13.d29f78","2c28d600.26588a","d6141614.ed2658"]]},{"id":"51a296bb.e91a78","type":"cloudant out","z":"f3e39259.a62f2","name":"","cloudant":"","database":"tweetdata","service":"IoT-feed-gauge-cloudantNoSQLDB","payonly":true,"operation":"insert","x":770,"y":520,"wires":[]},{"id":"82236a13.d29f78","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["668b6431.753a9c"]]},{"id":"2c28d600.26588a","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["91d7f468.55c2a8","e6b64fd.9bf55b"]]},{"id":"3fc52b24.5dc254","type":"debug","z":"f3e39259.a62f2","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":940,"wires":[]},{"id":"30809847.aa5e28","type":"switch","z":"f3e39259.a62f2","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":660,"y":1000,"wires":[["3fc52b24.5dc254"],["233e4514.ce875a"]]},{"id":"c868b98e.91b1c8","type":"debug","z":"f3e39259.a62f2","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":650,"y":960,"wires":[]},{"id":"62ae4b35.297f24","type":"debug","z":"f3e39259.a62f2","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":540,"y":720,"wires":[]},{"id":"233e4514.ce875a","type":"debug","z":"f3e39259.a62f2","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":950,"y":1060,"wires":[]},{"id":"a3af2bc4.da5b18","type":"function","z":"f3e39259.a62f2","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["61c6c1c3.4e182","84758f25.f2c8b"]]},{"id":"61c6c1c3.4e182","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":800,"wires":[]},{"id":"2c8c73de.9f656c","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"console":"false","complete":"tweet.text","x":530,"y":760,"wires":[]},{"id":"c8c4a10b.53a6d","type":"function","z":"f3e39259.a62f2","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1180,"wires":[["1c7217e1.05a088"]]},{"id":"24a7c982.ba2ab6","type":"delay","z":"f3e39259.a62f2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1180,"wires":[["c96823e3.b25bb","6e351d76.f05274","c8c4a10b.53a6d"]]},{"id":"1c7217e1.05a088","type":"cloudant out","z":"f3e39259.a62f2","name":"","cloudant":"","database":"tweetdata","service":"node-red-ozbbt-cloudant-1590470631830-11716","payonly":true,"operation":"insert","x":810,"y":1180,"wires":[]},{"id":"c96823e3.b25bb","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["e1c39606.985548"]]},{"id":"6e351d76.f05274","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[["7af0ae88.54d45","17aa6bfa.02dee4"]]},{"id":"fa933745.d3efb8","type":"comment","z":"f3e39259.a62f2","name":"Sentiment analysis of people's reaction towards the pandemic","info":"","x":300,"y":680,"wires":[]},{"id":"84758f25.f2c8b","type":"sentiment","z":"f3e39259.a62f2","name":"Sentiment of Tweets","property":"payload","x":400,"y":1000,"wires":[["c868b98e.91b1c8","30809847.aa5e28","24a7c982.ba2ab6"]]},{"id":"668b6431.753a9c","type":"ui_text","z":"f3e39259.a62f2","group":"bf942a68.7d1138","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":760,"y":560,"wires":[]},{"id":"e1c39606.985548","type":"ui_text","z":"f3e39259.a62f2","group":"a2155d4b.05b0c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":800,"y":1220,"wires":[]},{"id":"7af0ae88.54d45","type":"ui_gauge","z":"f3e39259.a62f2","name":"","group":"1d165bbb.0f7a94","order":3,"width":0,"height":0,"gtype":"gage","title":"Sentiment Scale","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f90606","#f6da23","#3be84f"],"seg1":"-5","seg2":"5","x":830,"y":1260,"wires":[]},{"id":"91d7f468.55c2a8","type":"ui_chart","z":"f3e39259.a62f2","name":"","group":"bf942a68.7d1138","order":4,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":760,"y":640,"wires":[[]]},{"id":"17aa6bfa.02dee4","type":"ui_chart","z":"f3e39259.a62f2","name":"","group":"a2155d4b.05b0c","order":4,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":800,"y":1300,"wires":[[]]},{"id":"2a9bb15a.a2403e","type":"twitter in","z":"f3e39259.a62f2","twitter":"5ad89ffb.d197f","tags":"#lockdown,#lockdownextension,government lockdown extension orders,govt orders,lockdown extended","user":"false","name":"Listen to twitter feed","inputs":1,"x":180,"y":760,"wires":[["62ae4b35.297f24","2c8c73de.9f656c","a3af2bc4.da5b18"]]},{"id":"bc4771da.36a39","type":"twitter in","z":"f3e39259.a62f2","twitter":"5ad89ffb.d197f","tags":"#covid19","user":"false","name":"Listen to twitter feed","inputs":1,"x":150,"y":100,"wires":[["eeb7682d.a81038","72cfd74d.01da98","f8c5d677.f54508"]]},{"id":"e6b64fd.9bf55b","type":"ui_gauge","z":"f3e39259.a62f2","name":"","group":"40ef7b23.d8c364","order":3,"width":0,"height":0,"gtype":"gage","title":"Sentiment Scale","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f90606","#f6da23","#3be84f"],"seg1":"-5","seg2":"5","x":780,"y":600,"wires":[]},{"id":"bfa05daf.5d1f5","type":"ui_chart","z":"6ef7e0a0.e2be5","name":"","group":"908fbbbd.0559c8","order":6,"width":"30","height":"15","label":"Sentiment","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data","dot":true,"ymin":"-5","ymax":"5","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1460,"y":420,"wires":[[]]},{"id":"ec0028f5.31ce18","type":"counter","z":"6ef7e0a0.e2be5","inc":"1","name":"","x":290,"y":80,"wires":[["d3b362de.7ea4a"]]},{"id":"dc2ccd1f.3cf68","type":"switch","z":"6ef7e0a0.e2be5","name":"","property":"payload.truncated","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":160,"wires":[["916e40c7.a3bae"],["3759bf12.a8266"]]},{"id":"2ed8603e.ba638","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":20,"wires":[]},{"id":"916e40c7.a3bae","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.extended_tweet.full_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[["6a34bf98.9bf1f","3fdf26d4.7bed6a"]]},{"id":"3759bf12.a8266","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["a83a63eb.06613","3fdf26d4.7bed6a"]]},{"id":"6a34bf98.9bf1f","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":140,"wires":[]},{"id":"a83a63eb.06613","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":180,"wires":[]},{"id":"e789b84b.268068","type":"smooth","z":"6ef7e0a0.e2be5","name":"","property":"sentiment.score","action":"mean","count":"100","round":"1","mult":"single","reduce":false,"x":690,"y":420,"wires":[["4a0a4c62.35dfb4"]]},{"id":"b18b53fc.bfd42","type":"ui_text","z":"6ef7e0a0.e2be5","group":"908fbbbd.0559c8","order":7,"width":0,"height":0,"name":"","label":"Total Received","format":"{{msg.payload}}","layout":"row-left","x":710,"y":80,"wires":[]},{"id":"3fdf26d4.7bed6a","type":"sentiment","z":"6ef7e0a0.e2be5","name":"","property":"payload","x":690,"y":240,"wires":[["58f39dad.f66ba4","e789b84b.268068","cf9ff1f0.ba6bf","9b4370b6.63cad"]]},{"id":"58f39dad.f66ba4","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"sentiment.score","targetType":"msg","x":890,"y":240,"wires":[]},{"id":"e4698d06.a5a26","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":20,"wires":[]},{"id":"d3b362de.7ea4a","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["b18b53fc.bfd42","e4698d06.a5a26"]]},{"id":"cf9ff1f0.ba6bf","type":"smooth","z":"6ef7e0a0.e2be5","name":"","property":"sentiment.score","action":"mean","count":"1000","round":"1","mult":"single","reduce":false,"x":690,"y":540,"wires":[["31b3b06.75dfa5"]]},{"id":"108e881a.339b98","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1040,"y":480,"wires":[]},{"id":"b118cedc.6298a","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1040,"y":600,"wires":[]},{"id":"cbad4ad4.ab0c98","type":"delay","z":"6ef7e0a0.e2be5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050,"y":420,"wires":[["c18e78f1.f722a8","bfa05daf.5d1f5"]]},{"id":"4a0a4c62.35dfb4","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"100Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":420,"wires":[["108e881a.339b98","cbad4ad4.ab0c98"]]},{"id":"31b3b06.75dfa5","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1000Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":540,"wires":[["b118cedc.6298a","ba4947e6.f5dec8"]]},{"id":"ba4947e6.f5dec8","type":"delay","z":"6ef7e0a0.e2be5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050,"y":540,"wires":[["44703080.29f54","bfa05daf.5d1f5"]]},{"id":"c18e78f1.f722a8","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1240,"y":420,"wires":[]},{"id":"44703080.29f54","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1240,"y":540,"wires":[]},{"id":"9b4370b6.63cad","type":"smooth","z":"6ef7e0a0.e2be5","name":"","property":"sentiment.score","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":690,"y":300,"wires":[["ee70e8e.756b518"]]},{"id":"8d17263f.0e5f58","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1040,"y":360,"wires":[]},{"id":"c53225a7.07be18","type":"delay","z":"6ef7e0a0.e2be5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1050,"y":300,"wires":[["81818e95.27ff1","bfa05daf.5d1f5"]]},{"id":"ee70e8e.756b518","type":"change","z":"6ef7e0a0.e2be5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"20Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":300,"wires":[["8d17263f.0e5f58","c53225a7.07be18"]]},{"id":"81818e95.27ff1","type":"debug","z":"6ef7e0a0.e2be5","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1240,"y":300,"wires":[]},{"id":"568c7db4.7ee7f4","type":"Twitter Stream","z":"6ef7e0a0.e2be5","connection":"35a86f09.9a198","follow":"","topics":"covid19","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":80,"y":120,"wires":[[]]}]